* {
	box-sizing: border-box;
	margin: 0;
  }
  nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: linear-gradient(
	  to right,
	  rgba(45, 43, 54),
	  rgba(47, 61, 70),
	  rgba(19, 33, 42)
	);
	padding: 10px;
	position: relative;
	z-index: 1000;
  }
  nav ul {
	display: flex;
	list-style: none;
	padding: 0;
  }
  nav ul li a {
	color: #fff;
	text-decoration: none;
	font-family: "Play", sans-serif;
	font-size: 26px;
	line-height: 1.4;
	font-weight: bold;
	transition: all 0.8s ease-in-out;
  }
  nav ul li {
	margin: 0 20px;
  }
  nav ul li a:hover {
	color: rgb(93, 82, 142);
  }
  
  .navLogo {
	margin-right: -455px;
	margin-left: 5px;
	margin-top: 6px;
  }
  
  .navApp {
	margin-right: -155px;
	margin-left: -320px;
	margin-top: 6px;
  }
  
  .navPlay {
	margin-right: -450px;
	margin-left: -300px;
	margin-top: 6px;
  }
  
  img.bg {
	min-height: 100%;
	min-width: 1024px;
  
	width: 100%;
	height: auto;
  
	position: fixed;
	top: 0;
	left: 0;
  }
  
  @media screen and (max-width: 1024px) {
	img.bg {
	  left: 50%;
	  margin-left: -512px;
	}
  }
  
  h1 {
	position: absolute;
	top: 24%;
	left: 49%;
	transform: translate(-50%, -50%);
	z-index: 1;
	color: white;
	font-size: 80px;
	font-family: "Inter", sans-serif;
  }

  .heroHozmag {
	position: absolute;
	top: 40%;
	left: 10%;
  }
  
  .heroLes {
	position: absolute;
	top: 39%;
	left: 40%;
  }
  
  .heroRest {
	position: absolute;
	top: 39.5%;
	left: 70%;
  }
  
  .heroHozmag img {
	display: block;
	border-radius: 50%;
	transition: all 0.8s ease-out;
  }
  
  .heroHozmag img:hover {
	box-shadow: 0 0 0 150px rgba(151, 22, 22, 0.8) inset,
	  0 0 40px 15px rgba(151, 22, 22, 0.8);
  }
  
  .heroLes img {
	display: block;
	border-radius: 50%;
	transition: all 0.8s ease-out;
  }
  
  .heroLes img:hover {
	box-shadow: 0 0 0 150px rgba(22, 192, 166, 0.8) inset,
	  0 0 40px 15px rgba(22, 192, 166, 0.8);
  }
  
  .heroRest img {
	display: block;
	border-radius: 50%;
	transition: all 0.8s ease-out;
  }
  
  .heroRest img:hover {
	box-shadow: 0 0 0 150px rgba(216, 182, 15, 0.8) inset,
	  0 0 40px 15px rgba(216, 182, 15, 0.8);
  }
  


  .nameHozmah {
	position: absolute;
	top: 73%;
	left: 8.5%;
	font-size: 32px;
	color: white;
	line-height: 1.4;
	font-family: "Inter", sans-serif;
  }
  
  .nameLes {
	position: absolute;
	top: 73%;
	left: 40.5%;
	font-size: 32px;
	color: white;
	line-height: 1.4;
	font-family: "Inter", sans-serif;
  }
  
  .nameRest {
	position: absolute;
	top: 73%;
	left: 77.7%;
	transform: translateX(-50%);
	font-size: 32px;
	color: white;
	line-height: 1.4;
	font-family: "Inter", sans-serif; 
  }
