* {
    box-sizing: border-box;
    margin: 0;
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
	background: linear-gradient(
		to right,
		rgba(25, 37, 35),
		rgba(53, 75, 66),
		rgba(60, 85, 74)
	  );
    padding: 10px;
    position: relative;
    z-index: 1000;
  }
  nav ul {
	display: flex;
    list-style: none;
    padding: 0;
  }
  nav ul li a {
    color: #fff;
    text-decoration: none;
	font-family: 'Play', sans-serif;
    font-size: 26px;
	line-height: 1.4;
    font-weight: bold;
    transition: all 0.6s ease-in-out;
  }
  nav ul li {
    margin: 0 20px;
  }
  nav ul li a:hover {
    color: rgb(39, 128, 113);
  }
  
  .navLogo {
    margin-right: -455px;
    margin-left: 5px;
    margin-top: 6px;
  }
  
  .navApp {
    margin-right: -155px;
    margin-left: -320px;
    margin-top: 6px;
  }
  
  .navPlay {
    margin-right: -450px;
    margin-left: -300px;
    margin-top: 6px;
  }
  
  img.bg {
    min-height: 100%;
    min-width: 1024px;
  
    width: 100%;
    height: auto;
  
    position: fixed;
    top: 0;
    left: 0;
  }
  
  @media screen and (max-width: 1024px) {
    img.bg {
      left: 50%;
      margin-left: -512px;
    }
  }
  
  #page-wrap {
    position: relative;
    width: 900px;
    margin: 20px auto;
    background: transparent;
    left: -16%;
  }


  
  /* TEST */
  body {
	text-align: left;
  }
  