/* Made with help from ptichkin */

* {
  box-sizing: border-box;
  margin: 0;
  font-family: Arial, sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(
    to right,
    rgba(43, 1, 2),
    rgba(13, 9, 12),
    rgba(25, 0, 0)
  );
  padding: 10px;
  position: relative;
  z-index: 1000;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-family: "Play", sans-serif;
  font-size: 26px;
  line-height: 1.4;
  font-weight: bold;
}
nav ul li {
  margin: 0 20px;
}
nav ul li a:hover {
  color: rgb(94, 14, 15);
  transition: all 0.8s ease-in-out;
}
.navLogo {
  margin-right: -455px;
  margin-left: 5px;
  margin-top: 6px;
  margin-bottom: 0px;
}

.navApp {
  margin-right: -100px;
  margin-left: -320px;
  margin-top: 6px;
  margin-bottom: 0px;
}

.navPlay {
  margin-right: -450px;
  margin-left: -300px;
  margin-top: 6px;
  margin-bottom: 0px;
}

img.bg {
  min-height: 100%;
  min-width:100%;
  height: auto;
  position: fixed;
  top: 0;
  right: 0;
}

@media screen and (max-width: 1024px) {
  img.bg {
    left: 50%;
    margin-left: -512px;
  }
}

#page-wrap {
  position: relative;
  width: 850px;
  margin: 20px auto;
  background: transparent;
  left: -18%;
}

h2 {
  color: white;
  font: 104px/1 "Inter", sans-serif;
  text-align: center;
  margin-top: 60px;
}

h3 {
  color: white;
  font: 56px/1 "Inter", sans-serif;
  text-align: center;
  margin-top: 70px;
}

h4 {
  color: white;
  font: 42px/1 "Inter", sans-serif;
  text-align: center;
  margin-top: 40px;
}

li {
  color: white;
  font: 23px/1.8 "Inter", sans-serif;
  text-indent: 0px;
  margin-top: 37px;
}





@media only screen and (max-width: 600px) {
  .navApp {
    display: none;
  }
  .navPlay {
    display: none;
  }
  nav ul li a {
    display: none;
  }
  #page-wrap {
    width: 340px;
    left: 0%;
  }
  h2 {
    font: 64px/1 "Inter", sans-serif;
    text-align: center;
    margin-top: 30px;
  }
  
  h3 {
    font: 34px/1 "Inter", sans-serif;
    text-align: center;
    margin-top: 50px;
  }
  
  h4 {
    font: 26px/1 "Inter", sans-serif;
    text-align: center;
    margin-top: 40px;
  }
  
  li {
    font: 18px/1.7 "Inter", sans-serif;
    margin-top: 30px;
  }
}







@media only screen and (min-width: 600px) {
  .navApp {
    display: none;
  }
  .navPlay {
    display: none;
  }
  nav ul li a {
    display: none;
  }
  #page-wrap {
    width: 520px;
    left: 0%;
  }
  h2 {
    font: 86px/1 "Inter", sans-serif;
    text-align: center;
    margin-top: 30px;
  }
  
  h3 {
    font: 42px/1 "Inter", sans-serif;
    text-align: center;
    margin-top: 50px;
  }
  
  h4 {
    font: 26px/1 "Inter", sans-serif;
    text-align: center;
    margin-top: 40px;
  }
  
  li {
    font: 19px/1.7 "Inter", sans-serif;
    margin-top: 30px;
  }
}







@media only screen and (min-width: 768px) {
  .navApp {
    display: none;
  }
  .navPlay {
    display: none;
  }
  nav ul li a {
    display: none;
  }
  #page-wrap {
    width: 650px;
    left: 0%;
  }
  h2 {
    font: 106px/1 "Inter", sans-serif;
    text-align: center;
    margin-top: 30px;
  }
  
  h3 {
    font: 64px/1 "Inter", sans-serif;
    text-align: center;
    margin-top: 50px;
  }
  
  h4 {
    font: 42px/1 "Inter", sans-serif;
    text-align: center;
    margin-top: 60px;
  }
  
  li {
    font: 24px/1.7 "Inter", sans-serif;
    margin-top: 30px;
  }
}





@media only screen and (min-width: 1200px) {
  .navApp {
    display: flex;
  }
  .navPlay {
    display: flex;
  }
  nav ul li a {
    display: flex;
  }
  #page-wrap {
    width: 850px;
    left: -19%;
  }
  h2 {
    font: 106px/1 "Inter", sans-serif;
    text-align: center;
    margin-top: 30px;
  }
  
  h3 {
    font: 64px/1 "Inter", sans-serif;
    text-align: center;
    margin-top: 50px;
  }
  
  h4 {
    font: 42px/1 "Inter", sans-serif;
    text-align: center;
    margin-top: 60px;
  }
  
  li {
    font: 24px/1.7 "Inter", sans-serif;
    margin-top: 30px;
  }
}