/* «Когда я писал этот код, только Бог и я понимали, что он означает. Теперь понимает только Бог.» */
/* Число дней которые я потратил на этот код = 3 */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
}

/* НАВИГАЦИОННОЕ МЕНЮ */

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: linear-gradient(to right, rgba(25,37,35), rgba(53,75,66), rgba(60,85,74));
	padding: 10px;
}
nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
}
nav ul li a {
	color: #fff;
	text-decoration: none;
	font-size: 24px;
	font-weight: bold;
	transition: all 0.3s ease-in-out;
}
nav ul li {
	margin: 0 20px;
}
nav ul li a:hover {
	color: cyan;
}

/* Логотип и остальное */

.navLogo {
	margin-right: -460px;
	margin-left: 5px;
	margin-top: 6px;
	margin-bottom: 0px;
}

.navApp {
	margin-right: -155px;
	margin-left: -320px;
	margin-top: 6px;
	margin-bottom: 0px;
}

.navPlay {
	margin-right: -450px;
	margin-left: -300px;
	margin-top: 6px;
	margin-bottom: 0px;
}

/* .HERO */

.hero {
	height: 679px;
	background-image: url("home1.png");
	background-size: cover;
    background-position: center;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: #fff;
	font-family: 'Source Sans Pro', sans-serif;
	position: relative;
}
.hero h1 {
	position: absolute;
	top: 25%;
	left: 49.5%;
	transform: translate(-50%, -50%);
	z-index: 1;
	color: white;
	font-size: 72px;
}
.hero p {
	position: absolute;
	top: 40%;
	left: 49.5%;
	transform: translate(-50%, -50%);
	z-index: 1;
	color: white;
	font-size: 32px;
}
.hero h2 {
	position: absolute;
	top: 51%;
	left: 49%;
	transform: translate(-50%, -50%);
	z-index: 1;
	color: white;
	font-size: 32px;
}
/* Кнопки */

.btn1 {
    font-size: 1.3rem;
    padding: 1rem 2rem;
    border-radius: 5px;
    cursor: pointer;
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    transition: background-color 1s ease-in-out;
    position: absolute;
    top: 65%;
    left: 23%;
}

.btn2 {
    font-size: 1.3rem;
    padding: 1rem 2rem;
    border-radius: 5px;
    cursor: pointer;
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    transition: background-color 1s ease-in-out;
    position: absolute;
    top: 65%;
    left: 53%;
}
  
.btn1:hover {
    background-color: #17a2b8;
    color: #000;
    border: 1px solid #17a2b8;
    box-shadow: 0 0 20px #17a2b8, 0 0 40px #17a2b8, 0 0 80px #17a2b8;
    transition: all 0.5s ease-in-out;
}

.btn2:hover {
    background-color: #17a2b8;
    color: #000;
    border: 1px solid #17a2b8;
    box-shadow: 0 0 20px #17a2b8, 0 0 40px #17a2b8, 0 0 80px #17a2b8;
    transition: all 0.5s ease-in-out;
}


/* TEST */
